@model ContatoModel
@{
    ViewData["Title"] = "Confirmaçãoapagar ocontato";
}
<div class="text-center">
    <h3>Deseja apagar o contato realmente(@Model.Nome)?</h3>
</div>
<a class="btn btn-primary btn-block" role="button" asp-controller="contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="contato" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>