@{
    ViewData["Title"] = "Pagina Inicial";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<div class="text-center" id="imagem">
    <h1>Bem vindo!</h1>
    <h1 class="display-4">a sua agenda</h1>
    <img src="~/imagens/agenda.jpg" alt="Agenda-Persinalizada" width="75%" height="50% class="imagem" />
</div>

